# Untracked files in MPLABX projects
/**/build/*
/**/nbproject/*
!/**/nbproject/*.xml
/**/.generated_files/*

/**/[Ff]ree/production/*
/**/[Pp]ro/production/*
!/**/[Ff]ree/production/*.hex
!/**/[Pp]ro/production/*.hex